<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Movie Rankings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="/">Movie Rankings</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rankings">Rankings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/polls">Polls</a>
            </li>
        </ul>
        {% if c.user is not none %}
        <a href="/user/{{ c.user.id }}" class="nav-link" style="display: flex;">
            <p class="nav-item nav-link" >{{ c.user.name }}</p>
            <div class="nav-img-container">
                <img src="{{ c.user.avatar_url }}">
            </div>
        </a>
        {% else %}
        <a class="facebook-login-button" href="{{ url_for('facebook.login') }}">
            <div class="facebook-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" class="facebook-icon" color="#FFFFFF">
                    <path fill="#FFFFFF" d="
                  M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
                  11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
                  11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
                  15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
                  11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z"></path>
                </svg>
            </div>
            <span>Log In With Facebook</span>
        </a>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="q" value="{{ c.search_query }}">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-primary my-2 my-sm-0 new-poll-btn" type="button" data-toggle="modal" data-target="#new-poll-modal">New Poll</button>
        </form>
    </div>
</nav>
{% include 'new_poll_modal.html' %}
<body>
{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">{{ message }}</div>
{% endfor %}
{% block body %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="/static/js/main.js"></script>
{% if c.user.admin %}
<script src="/static/js/admin.js"></script>
{% endif %}
</body>
</html>
