{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <div class="home-header-container">
        <div class="home-header">
            <h1>Popular Movies on <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a></h1>
        </div>
    </div>
    <div class="row">
        {% for movie in c.movies %}
        <div class="col-sm-4">
            {% include 'movie_card.html' %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}