<div class="card p-2" >
    <div class="card-body">
        <h5 class="card-title">Comments</h5>
        <div>
            <form action="/api/1/comment/new" method="POST">
                <input name="poll" type="hidden" value="{{ poll.id }}">
                {% if c.user is not none %}
                <input name="body" type="text" class="form-control input-md" placeholder="Write a comment...">
                {% else %}
                <input disabled name="body" type="text" class="form-control input-md" placeholder="Log in to write a comment...">
                {% endif %}
            </form>
            <br>
        </div>
        {% for comment in poll_comments %}
        <div class="comment-container">
            <div class="comment-img-container">
                <img src="/static/img/avatar.png">
            </div>
            <p class="comment-header"><a href="/user/{{ comment.user.id }}">{{ comment.user.name }}</a> - {{ comment.age.short }}</p>
            <p class="comment-body">{{ comment.body }}</p>
        </div>
        {% endfor %}
    </div>
</div>