<div class="card p-2" >
    <div class="card-body">
        <h4 class="card-title">{{ poll.title }}</h4>
        <form>
            <ul>
                {% for poll_choice in poll.choices %}
                <li>
                    <input type="radio" id="{{ poll_choice.id }}" name="{{ poll.id }}" value="{{ poll_choice.id }}"
                           onclick="onPollChoiceClick({{ poll.id }}, {{ poll_choice.id }});" {% if poll_choice.user_voted %}checked{% endif %}>
                    <label for="{{ poll_choice.id }}">{{ poll_choice.movie.title }}</label>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
</div>