{% extends 'base.html' %}

{% block body %}
<div class="container">
        <div class="row">
            {% for movie in context.movies %}
            <div class="col-sm-4">
                <div class="card p-2" >
                    <img class="card-img-top " src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ movie.poster_url }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ movie.title }} ({{ movie.year }})</h4>
                        <p class="card-text">{{ movie.overview }}</p>
                        <button onclick="onVoteButtonClick({{ movie.id }})">👍</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}