{% extends 'base.html' %}

{% block title %}Top Favourited{% endblock %}

{% block body %}
<div class="container">
    <div class="home-header-container">
        <div class="home-header">
            <h1>Top favourited movies by Movie Rankings users</h1>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Year</th>
            <th>Overview</th>
            <th>Favourites</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(context.movies|length) %}
        <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ context.movies[i].title }}</td>
            <td>{{ context.movies[i].year }}</td>
            <td title="{{ context.movies[i].overview }}">{{ context.movies[i].overview|truncate(80) }}</td>
            <td>{{ context.movies[i].fav_count }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}