.btn-fav-false::after {
    content: "Add to favourites";
}

.btn-fav-true {
    color: red;
}

.btn-fav-true::after {
    content: "Remove from favourites";
}

.navbar {
    padding-right: 20%;
    padding-left: 20%;
}

.nav-img-container {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.nav-img-container > img {
    width: 100%;
    height: auto;
    border-radius: 100rem;
}

.profile-header {
    display: flex;
    margin: 1.5rem 0rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    padding: 1rem;
}

.profile-img-container {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.profile-img-container > img {
    width: 100%;
    height: auto;
    border-radius: 100rem;
}

.profile-name {
    display: flex;
    width: auto;
    margin: 0;
    padding: 0;
}

.home-header-container {
    width: 100%;
    text-align: center;
}

.home-header {
    margin: 0 auto;
}

.home-header > h1 {
    margin: 2rem;
}

.facebook-login-button, .facebook-login-button:visited {
    margin-right: 0.5rem;
    width: 236px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    background-color: #4267b2;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
}

.facebook-login-button:hover, .facebook-login-button:active {
    color: white;
    text-decoration: none;
    background-color: #39599b;
}

.facebook-icon-container {
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}

.facebook-icon {
    width: 24px;
    height: 24px;
}
